{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>To-Do app</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link rel="stylesheet" href="/static/base.css">
	</head>

	<body class="bg-grey-lightest font-serif leading-normal tracking-normal">

	<header>
		<div class="max-w-screen-lg bg-blue-500 shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">
			<h1 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">
			{% block header %}
			{% endblock %}
			</h1>
		</div>
		<div class="mt-8 flex justify-center">
		<div class="inline-flex bg-white shadow">
			<form method="POST" action="{% block form_action %}{% endblock %}">
				{{ form.text }}
				{% csrf_token %}
				{% if error %}
					<div class="has-error border-red-500">
						{{error}}
					</div>
				{% endif %}
			</form>
		</div>
    </div>
	</header>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div class="mt-8 flex justify-center">
	{% block table %}
	{% endblock %}
	</div>

	</body>

</html>
