
{% load static %}


<script src="{% static 'sockpuppet/sockpuppet.js' %}"></script>
<a
  href="#"
>
    <table data-reflex-root="#id_list_table" id="id_list_table" class="table-auto">
    {% for item in list.item_set.all %}
    <tr>
        <td
        id="complete-item-{{ forloop.counter }}"
        data-reflex="click->ItemCompleteReflex#complete"
        data-completed="{{ item.completed }}"
        data-item_id="{{ item.id }}">
            <svg class="h-5 w-5 text-cyan-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            {% if item.completed %}
                <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            {% else %}
                <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
                <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
            {% endif %}
            </svg>
        </td>
        <td
        >{{ forloop.counter }}:
            {% if item.id in editable_items %}
            <input type="text" value="{{ item.text }}" id="input-item-{{ forloop.counter }}">
            {% else %}
            <span id="item-{{ forloop.counter}}" class="{{ item.completed|yesno:"line-through, underline" }}">
            {{ item.text }}
            </span>
        {% endif %}
        </td>
        <td
        id="edit-item-{{ forloop.counter }}"
        data-reflex="click->ItemCompleteReflex#edit_mode"
        data-item_id="{{ item.id }}">
            <button>
                <svg class="h-5 w-5 text-cyan-500"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                </svg>
            </button>
        </td>
        <td id="del-item-{{ forloop.counter }}"
        data-reflex="click->ItemCompleteReflex#delete"
        data-item_id="{{ item.id }}"
        ><button>
            <!--   DELETE BUTTON   -->
            <svg class="h-5 w-5 text-red-500"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
        </button></td>
    </tr>
    {% endfor %}
</table>
