
{% load static %}


<script src="{% static 'sockpuppet/sockpuppet.js' %}"></script>
<a
  href="#"
>
<table data-reflex-root="#id_list_table" id="id_list_table" class="table-auto">
    {% for item in list.item_set.all %}
    <tr class="{{ item.completed|yesno:"line-through, underline" }}">
        <td
        data-reflex="click->Item_CompleteReflex#complete"
        data-completed="{{ item.completed }}"
        data-item_id="{{ item.id }}"
        >{{ forloop.counter }}: {{ item.text }}</td>
    </tr>
    {% endfor %}
</table>