[Unit]
Description=DOMAIN Daphne Service
After=network.target

[Service]
Type=simple
User=sam    # eg: User = ubuntu
WorkingDirectory=/home/sam/sites/DOMAIN
EnvironmentFile=/home/sam/sites/DOMAIN/.env
ExecStart=/home/sam/sites/DOMAIN/virtualenv/bin/daphne -p 9001 superlists.asgi:application
[Install]
WantedBy=multi-user.target