[Unit]
Description=python runworker server for DOMAIN
After=network.target

[Service]
User=sam
Group=sam
WorkingDirectory=/home/sam/sites/DOMAIN
ExecStart=/home/sam/sites/DOMAIN/virtualenv/bin/python /home/sam/sites/DOMAIN/manage.py runworker sockpuppet-sync
Restart=always

[Install]
WantedBy=multi-user.target